
        
        /*        
        //TAGS
        nombreTag{ 
            Propiedad1:valorPropiedad1;
            Propiedad2:valorPropiedad2;
            Propiedad3:valorPropiedad3;
        }
        
        */
        
        html{
            background-color: #687fd4;
        }
        body{
            background-color: #6df311;
        }
        h1{
            background-color: #a2b42b;
        }
        
        p{
            background-color: coral;
            
        }
          cualquiera{
            background-color: blueviolet;
            
        }
/*las clases empiezan con el punto y el nombre de la clase        */
        .nombreClaseRojo{
            
            background-color: red;
            
        }    
        .nombreClaseAmarillo{
            
            background-color: yellow;
            
        }
        .nombreClaseVerde{
            
            background-color: greenyellow;
        }
       /*POR ID*/
        #parrafoverde{
            
            background-color: antiquewhite;
        }
        
/*        nombrePropuiedad:valorPropiedad; */
    

      
    