<h1>crear usuario</h1>
<form action="Usuario/CrearUsuarioForm" method="post">
    <labe>Nombres</labe>
    <input type="text" name='nombres'>
    <labe>apellidos</labe>
    <input type="text" name='apellidos'>
    <labe>correo</labe>
    <input type="text" name='correo'>
    <button type="submit">Crear Usuario</button>
    </form>