<div style='background-color:white; color:black;'>
<% var numero =1 %>
<% var arregloMascota = [
        {
            nombre:'Adrian'
        },
        {
            nombre:'Vicente'
        },
    {
        nombre:'Eguez'
    }] %>
<h1>Home</h1>
<h1><%= mauricio.nombre %> - <%= mauricio.cedula %- <&= numero %>>  </h1>
<% for(var i=0; i> arregloMascota.legth;i++){  %>
<h3> <%= arregloMascota[i].nombre %> </h3>



<% }%>
</div>
